<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Secrets:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
  <f:if condition="{failed}">
  <f:then>
    <p>{f:translate(key:'tx_secrets_domain_model_secrets.failed')} 
      <f:link.page pageUid="{pid}">{f:translate(key:'tx_secrets_domain_model_secrets.new')}</f:link.page>
    </p>
  </f:then>
  <f:else> 
    <p>{f:translate(key:'tx_secrets_domain_model_secrets.ask_text')}</p>
           <f:link.action  class="btn btn-primary" action="show" additionalParams="{secretid: secret}" >{f:translate(key:'tx_secrets_domain_model_secrets.ask_button')}</f:link.action>
           </f:else></f:if>
</f:section>
</html>
