<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Secrets:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">

<f:form action="create" name="newSecrets" object="{newSecrets}">
  <p><f:translate key="tx_secrets_domain_model_secrets.secret" /></p>
  <p><f:render partial="Secrets/FormFields" /></p>
  <p> <f:form.submit class="btn btn-primary" value="{f:translate(key:'tx_secrets_domain_model_secrets.encrypt')}" /></p>
</f:form>

<p class="mt-4 pt-4">{f:translate(key:'tx_secrets_domain_model_secrets.show')}<br/>
  <!-- Textfeld mit Inhalt -->
<textarea class="form-control" type="text" cols="40" rows="5"  id="secretopen"><f:uri.page pageUid="{pid}" absolute="true" additionalParams="{secretid:secret}"/></textarea>
</p>
<!-- Button zum Kopieren -->
<button class="btn btn-primary" onclick="CopyFunction()">{f:translate(key:'tx_secrets_domain_model_secrets.copy')}</button>
<script>
  function CopyFunction() {
  var copyText = document.getElementById("secretopen");
  copyText.select();
  copyText.setSelectionRange(0, 99999); 
  document.execCommand("copy");
  }
  
  </script>
          
</f:section>
</html>
